<p>Your gas wallet balance has dropped below the safe threshold. Please top up this wallet as soon as possible.
  Otherwise, your users may encounter an error when making a transaction.</p>
<p>Gas wallet: <b>{{walletName}}</b></p>
<p>Wallet address: <b>{{walletAddress}}</b></p>
<p>Current balance: <b>{{currentBalance}} BNB</b></p>
<p>Safe threshold: <b>{{safeThreshold}} BNB</b></p>